body {
    background: silver;
}

h1 {
    text-align: center;
}

.my-img {
    text-align: center;
}

.textMeBox {
    font-family: RobotoLight, sans-serif;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.textTable {
    text-align: justify;
    padding: 5px;
}

td {
    vertical-align: top;
    width: 50%;
}

.right {
    text-align: right;
}

